body {
  font-family: Arial;
}
.box {
  max-width: 700px;
  border: 1px solid #f1f1f1;
  padding: 10px;
  overflow: hidden;
}
.box .at-js {
  border: 1px solid #ccc;
  padding: 5px;
}
.atwho-view ul {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  width: 200px;
  box-shadow: 1px 1px 1px #f1f1f1;
  padding: 5px;
  list-style-type: none;
}
